body {
    width: auto;
    height: auto;
    animation: example 15s linear infinite;
    background-size:cover;
}

.animation {
    width:auto;
    height:auto;
   
}
@keyframes example {
    0%{
        background: url("../../Files/sampleImage/c.png");
    }
    50% {
        background: url("../../Files/sampleImage/a.png");
    }

    100% {
        background: url("../../Files/sampleImage/b.png");
    }
}
