/*          Colors       */
.darkslategrey {
    color: darkslategrey;
}

    .darkslategrey :hover {
        color: darkslategrey;
    }

.green {
    color: #008000eb;
}

    .green :hover {
        color: #004E00;
    }


.text-purple {
    color: #4f0080cc;
}

/*          Navbar      */
.navbar-second {
    padding: 0;
}

.navbar-first {
    padding-top: 0;
}

/*          Header      */
.header {
    border-bottom: 2px solid;
}

    .header button {
        line-height: 1;
        font-size: 1.0rem;
    }

    .header a {
        line-height: 1;
        font-size: 1.0rem;
    }

    .header.green {
        color: #008000d6;
        border-bottom-color: #00800066;
    }

    .header.chocolate {
        color: #9e5e31f0;
        border-bottom-color: #bb500570;
    }

    .header.purple {
        color: #4f0080cc;
        border-bottom-color: #8416e87d;
    }

    .header.blue {
        color: #002d80b8;
        border-bottom-color: #1674e87d;
    }

/*          Text align      */
.input-center {
    text-align: center;
}

/*          Item    */
.pull-right {
    float: right;
}

.width-fill {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    max-width: 100%;
    max-width: -moz-available;
    max-width: -webkit-fill-available;
    max-width: fill-available;
}

.width-medium {
    width: 50%;
    max-width: 50%;
}

.modal-footer {
    display: block;
}

.input-border {
    border: solid #0000006e 1px;
}

.a-unstyle {
    color: inherit !important;
    cursor: pointer;
}

.media-pill {
    border-bottom: dotted 1px;
    border-bottom-color: black;
    margin-bottom: 5px;
}

/*           Pointer        */
.pointer {
    cursor: pointer;
}

.info-color {
    color: #000077d1;
}

/*          Pills           */
.badge-blue {
    background-color: #17a2b8 !important;
    color: white !important;
}

    .badge-blue :hover {
        background-color: inherit;
        color: inherit;
    }

/*          Buttons     */
.btn-mini {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 0.2rem
}

.btn-radius {
    border-radius: 1rem;
    border: 1rem;
}
    .btn-radius :hover {
        color: #178bb8 !important;
        border: 2rem !important;
        padding: 0.4rem !important;
        border-radius: 1rem !important;
        background-color: #abb5be96 !important;
        background-clip: border-box !important;
    }

    .btn-radius :active {
        color: #178bb8 !important;
        border: 2rem #abb5be96 !important;
        padding: 0.4rem !important;
        border-radius: 1rem !important;
        background-color: #abb5be96 !important;
        background-clip: border-box !important;
    }

    .btn-radius :focus {
        color: #178bb8;
        border: 2rem #abb5be96 !important;
        padding: 0.4rem !important;
        border-radius: 1rem !important;
        background-color: #abb5be96 !important;
        background-clip: border-box !important;
    }
.btn-blue {
    color: #17a2b8 !important;
}

