@using Physiotherapy.Common._Resources
@{
    ViewBag.Title = "Home Page";
    ViewBag.LogoPage = "fas fa-home";
    ViewBag.Controller = "Home";
}

<div class="animation">
    <div class="d-flex  justify-content-between">
        @*  Left Elements   *@
        <div class="">

        </div>
        @*  Center Elements *@
        <div class="">
            <div class="d-flex justify-content-start ml-lg-2">
                <div class="p-0 mt-2">
                    <img class="rounded-circle" height="60" width="60"
                         src="https://images.ctfassets.net/d0ymucfas3rs/1EZRe3oUasg1LIjONpOHsR/055fbdf3513a912eae091d137f61d095/joshkaufman-square.jpg?w=640"
                         alt="Καραγιανόπουλος Νίκος">
                </div>
                <div class="p-2">
                    <strong>
                        Γιωργος Σπυρου
                    </strong>
                    <div class="mr-auto">
                        Καθηγητής Μαθηματικών Μέσης Εκπέδευσης
                    </div>
                    <small class="text-secondary">Τελειόφητος του τμήματος Μαθηματικων στο Εθνικο Καποδιστρικο </small>
                    <hr />
                </div>
            </div>
        </div>

        @* Right element *@
        <div class="">
            <div class="container">

                @*<video width="400" controls>
                    <source src="~/Files/y2mate.com - Βασίλης Τσιτσάνης - 40 Μεγάλες επιτυχίες (CompilationOfficial Audio)_cNBmcoFl-Mw_720p.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    <source src="" type="video/webm" />
                    Your browser does not support HTML5 video.
                </video>*@


                <div class="card">
                    <div class="card-header">@Resource.Contact</div>
                    <div class="card-body">
                        <span>s2323232</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles{
    @*<link rel="stylesheet" href="~/Styles/Layout/AnimationBody.css" />*@
    <style type="text/css">
    </style>
}
