@using Physiotherapy.Model

@model StudiesVO

<div></div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            NavBarItemSelected("myCV");
        });
    </script>
}